<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mjsoftking.wxutilsapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".MyApplication"
        android:theme="@style/Theme.01000WxUtilsApp">

        <!--todo 微信appKey和appSecret赋值的方法一 -->
        <!--        <meta-data-->
        <!--            android:name="WX_LIBRARY_WX_APP_KEY"-->
        <!--            android:value="123456s"-->
        <!--            tools:replace="android:value"/>-->

        <!--        <meta-data-->
        <!--            android:name="WX_LIBRARY_WX_APP_SECRET"-->
        <!--            android:value="567890a"-->
        <!--            tools:replace="android:value"/>-->
        <!--todo 微信appKey和appSecret赋值的方法结束-->

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>